.WeatherInfo .headings {
    margin: 30px 0;
}

.WeatherInfo h4 {
    text-align: start;
    padding: 0;
    margin: 0;
    color: #4E8D77;  
    letter-spacing: 1px;
}

.WeatherInfo h1 {
    text-align: start;
    font-size: 60px;
    text-transform: capitalize;
    font-weight: 500;
    color: #4E8D77;  
    margin: 0;
    letter-spacing: 2px;
    font-family: var(--primary-font-family);
}

.WeatherInfo hr {
    margin: 20px 0;
}

.WeatherInfo ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.WeatherInfo .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* text-align: center; */
}

.WeatherInfo .content canvas {
    display: block;
    margin: 0 auto;
}

/* .WeatherInfo .content col {
    align-items: center;
    justify-content: center;
} */

.WeatherInfo .bottom-panel {
    justify-content: space-between;
    gap: 5px;
}

.WeatherInfo .last-updated {
    font-size: 12px;
    margin-left: 20px;
}

.WeatherInfo .flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.WeatherInfo .left-info {
    text-align: start;
}

.WeatherInfo .description {
    font-size: 25px;
    font-weight: 500;
}

.WeatherInfo .sunrise, .sunset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WeatherInfo .sun-time {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 20px;
}

@media screen and (max-width: 376px) {
    .WeatherInfo h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 426px) {
    .WeatherInfo .sun-time {
        gap: 20px;
    }

    .WeatherInfo .bottom-panel {
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    
    .WeatherInfo .last-updated {
        margin-left: 0;
    }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
    .WeatherInfo h1 {
        font-size: 45px;
    }
}
@media screen and (max-width: 767px) {
    .WeatherInfo .content {
        flex-direction: column-reverse;
        gap: 20px;
        padding: 30px 0;
        margin-bottom: -20px;
    }
    .WeatherInfo .left-info {
        text-align: center;
    }
}