.Weather {
    color: var(--secondary-color);
    font-family: var(--primary-font-family);
    padding: 50px;
    border-radius: 20px;
    border: 6px solid var(--secondary-color);
    background-color: var(--accent-color);
}

.Weather .search-pin {
    margin: 0;
}

.Weather .search-bar {
    border: 2px solid var(--secondary-color);
}

.Weather .search-button {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--accent-color);
}