.WeatherForecastDay .WeatherForecastDay-day {
    font-size: 20px;
    margin-bottom: 15px;
}

.WeatherForecastDay .WeatherForecastDay-temperatures {
    margin-top: 10px;
    font-size: 20px;
}

.WeatherForecastDay .WeatherForecastDay-temperature-max {
    font-weight: 700;
    color: var(--primary-color);
}

.WeatherForecastDay .WeatherForecastDay-temperature-min {
    color: rgba(37, 50, 57, 0.5);
}


